@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;

}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 7% 15% 78%;
    gap: 0;
}